.title {
  font-size: 26px;
  font-weight: 500;
  font-family: Outfit, var(--mantine-font-family);
}

.logo {
  display: block;
  margin: 0 auto var(--mantine-spacing-md);
}

:global(html[data-mantine-color-scheme='light']) .logo {
  filter: invert(1);
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    text-align: center;
  }
}
