# === Frontend (Next.js) ===
NEXT_PUBLIC_SITE_URL=http://localhost:8080


# spojení na lokální supabase backend
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:64321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-key/starst-with:'sb_publishable_...'
SUPABASE_SERVICE_ROLE_KEY=your-secret-key/starst-with:'sb_secret_...'

# DB (lokální supabase postgres)
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:64322/postgres
DRIZZLE_DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:64322/postgres


# Univerzální lokální dev účet (pro všechny devy)
DEV_EMAIL=dev@free-fall.cz
DEV_PASSWORD=dev123456789
DEV_DISPLAY_NAME=DEV

# Facebook – ID/slug stránky + Page Access Token
FB_PAGE_ID=
FB_PAGE_TOKEN=